<!DOCTYPE html>
<html>
	<head>
		<!-- meta引入 -->
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="content-language" content="zh-tw">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- ---------- -->
		<link rel="stylesheet" type="text/css"
			href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css" rel="stylesheet">
		<!-- 導入中文字體 -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap" rel="stylesheet">
		<!-- 導入英文字體 -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="app">
			<v-app id="inspire">
				<v-app id="keep">
					<v-app-bar app clipped-left color="black">
						<v-app-bar-nav-icon @click="drawer = !drawer" color="white"></v-app-bar-nav-icon>
						<v-spacer></v-spacer>
						<span class="title mr-5">
							<font color="#0069CE" class="ubay">u</font>
							<font color="#00A65A" class="ubay">B</font>
							<font color="#EEC803" class="ubay">A</font>
							<font color="#EC475A" class="ubay">Y</font>
						</span>
						<v-spacer></v-spacer>
					</v-app-bar>
					<!-- 導航欄開始 -->
					<v-navigation-drawer v-model="drawer" app clipped color="grey lighten-4">
						<v-card max-width="375" class="mx-auto" height="100%">
							<v-img
								src="https://www.morganstanley.com/pub/content/dam/msdotcom/ideas/rise-of-the-tech-super-platforms/tw-rise-of-tech.jpg"
								height="250px" dark>
								<v-row class="fill-height">
									<v-card-title>
										<!-- <v-btn dark icon>
						            <v-icon>mdi-chevron-left</v-icon>
						          </v-btn> -->

										<v-spacer></v-spacer>

									</v-card-title>

									<v-spacer></v-spacer>

									<v-card-content class="white--text mb-3 pr-8 mt-7">
										<v-list-item-avatar size="90" class="ml-6">
											<img
												src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV-9p7LkFhpIsdRTn3uij6E50Nn-4SQZO3sA&usqp=CAU">
										</v-list-item-avatar>
										<v-list-item class="mr-7 mt-5">
											<div class="h1 navfont pr-4">歡迎您</div><br>
											<div class="h1 navfont pr-4">XXXX</div>
										</v-list-item>
									</v-card-content>
								</v-row>
							</v-img>

							<v-list two-line>
								<v-list-item @click="" href="#1">
									<v-list-item-icon>
										<v-icon color="primary">face</v-icon>
									</v-list-item-icon>

									<v-list-item-content>
										<v-list-item-title class="chinese h4 primary--text">個人資料維護</v-list-item-title>
										<v-list-item-subtitle>Mobile</v-list-item-subtitle>
									</v-list-item-content>

								</v-list-item>


								<v-divider inset></v-divider>
								<!-- 專案選單開始 -->
								<v-list-item @click="" href="#2">
									<v-list-item-icon>
										<v-icon color="primary">assignment_ind</v-icon>
									</v-list-item-icon>

									<v-list-item-content>
										<v-list-item-title class="chinese h4 primary--text">建立班級及修改</v-list-item-title>
										<v-list-item-subtitle>Personal</v-list-item-subtitle>
									</v-list-item-content>
								</v-list-item>

								<v-list-item @click="" href="#2">
									<v-list-item-icon>
										<v-icon color="primary">assignment_turned_in</v-icon>
									</v-list-item-icon>

									<v-list-item-content>
										<v-list-item-title class="chinese h4 primary--text">建立專案及修改</v-list-item-title>
										<v-list-item-subtitle>Personal</v-list-item-subtitle>
									</v-list-item-content>
								</v-list-item>

								<v-list-item @click="" href="#2">
									<v-list-item-icon>
										<v-icon color="primary">today</v-icon>
									</v-list-item-icon>

									<v-list-item-content>
										<v-list-item-title class="chinese h4 primary--text">小組分配及修改</v-list-item-title>
										<v-list-item-subtitle>Personal</v-list-item-subtitle>
									</v-list-item-content>
								</v-list-item>
								<!-- 專案選單結束 -->
								<v-list-item @click="" href="#3">
									<v-list-item-icon>
										<v-icon color="primary">receipt</v-icon>
									</v-list-item-icon>

									<v-list-item-content>
										<v-list-item-title class="chinese h4 primary--text">成績</v-list-item-title>
										<v-list-item-subtitle>Work</v-list-item-subtitle>
									</v-list-item-content>
								</v-list-item>

								<v-divider inset></v-divider>

							</v-list>
						</v-card>
					</v-navigation-drawer>
					<!-- 導航欄結束 -->
					<v-main
						style="background: -webkit-linear-gradient(right, #FFAF7B,#EE82EE, #FFB6C1);background: linear-gradient(to right, #FFAF7B, #FFB6C1);">
						<v-container>
							<v-row style="height:2vh">
								<v-spacer></v-spacer>
								<p class="font-weight-bold">
									專案修改</p>
								<v-spacer></v-spacer>
							</v-row>
							<v-row style="height:57px">
								<v-col>
								</v-col>
								<v-col sm="6" xs="12">
									<v-select @change="changeRoute()" :items="chooseclass" v-model="classchoice"
										label="選擇班級" solo outlined></v-select>
								</v-col>
								<v-col>
								</v-col>
							</v-row>
						</v-container>
						<!-- 下面是table標題和table -->
						<template>
							<v-data-table
								style="background: -webkit-linear-gradient(right, #FFAF7B, #FFB6C1);background: linear-gradient(to right, #FFAF7B, #FFB6C1);"
								height="45vh" @page-count="pageCount = $event" :page.sync="page"
								:items-per-page="itemsPerPage" hide-default-footer :headers="headers" :items="資料容器"
								sort-by="id" class="elevation　table-striped　
								">
								<!-- v-slot 開始							 -->
								<template v-slot:top>
									<v-toolbar flat
										style="background: -webkit-linear-gradient(right, #FFAF7B, #FFB6C1);background: linear-gradient(to right, #FFAF7B, #FFB6C1);">
										<!-- <v-toolbar-title>專案進度X%</v-toolbar-title>
										<v-btn>結案</v-btn> -->
										<!-- <v-divider class="mx-4" inset vertical></v-divider> -->
										<v-spacer></v-spacer>
										<!-- 彈跳視窗功能 (包含按鍵觸發)開始 -->
										<v-dialog v-model="dialog" max-width="500px">
											<!-- <template v-slot:activator="{ on, attrs }">
												<v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">New
													Item</v-btn>
											</template> -->
											<v-card>
												<v-card-title>
													<span class="headline">{{ formTitle }}</span>
												</v-card-title>

												<v-card-text>
													<!-- 編輯彈跳視窗內容項目開始 -->
													<v-container>
														<v-row>
															<v-col cols="12" sm="6" md="6">
																<v-text-field v-model="editedItem.專案名稱" label="專案名稱">
																</v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="6">
																<v-text-field v-model="editedItem.小組名稱" label="小組名稱">
																</v-text-field>
															</v-col>
															<v-col cols="12" sm="12" md="12" class="mx-0 px-0">
																<!-- <v-text-field v-model="editedItem.時程期限" label="時程期限">
																</v-text-field> <-->
																<span>時程期限</span>
																<v-date-picker v-model="editedItem.時程期限" label="時程期限"
																	@input="menu2 = false" locale="zh-cn">
																</v-date-picker>
															</v-col>
															<v-row>
																<v-spacer></v-spacer>
																<v-btn color="blue darken-1" text @click="save">儲存
																</v-btn>
																<v-btn color="blue darken-1" text @click="close">取消
																</v-btn>
															</v-row>
														</v-row>
													</v-container>
													<!-- 編輯彈跳視窗內容項目（除了按鈕）結束 -->
												</v-card-text>

												<!-- 編輯彈跳視窗按鈕結束 -->
											</v-card>
										</v-dialog>
										<!-- 彈跳視窗功能 (包含按鍵觸發)結束 -->
									</v-toolbar>
								</template>
								<!-- v-slot 結束							 -->
								<template v-slot:item.修改="{ item }">
									<v-btn outlined tile color="success" @click="editItem(item)">
										<v-icon color="green lighten-1" small class="mr-1">
											mdi-pencil
										</v-icon>
										修改
									</v-btn>
								</template>
								<!-- ------- -->
								<template v-slot:item.刪除="{ item }">
									<v-btn outlined tile color="danger" @click="deleteItem(item)">

										<v-icon color="red darken-2" small class="mr-1">
											mdi-delete
										</v-icon>
										刪除
									</v-btn>
								</template>
							</v-data-table>
							<v-row>
							<v-spacer></v-spacer>
							<v-btn color="primary"　class="mr-5" >
								返回
							</v-btn>
							</v-row>
							<v-pagination v-model="page" :length="pageCount"></v-pagination>
						</template>

					</v-main>
					<!-- footer -->
					<v-footer dark padless>
						<v-card class="flex" flat tile>

							<v-card-text class="py-2 white--text text-center">
								<p class="flow-text grey-text center footer-ubay h6">Copyright&copy;2021,
									<font color="#0069CE">u
									</font>
									<font color="#00A65A">B</font>
									<font color="#EEC803">A</font>
									<font color="#EC475A">Y</font> All Rights Reserved
								</p>
							</v-card-text>
						</v-card>
					</v-footer>
				</v-app>
			</v-app>
		</div>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.js"></script>
		<!-- 導入AXIOS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				vuetify: new Vuetify(),
				data: () => ({
					drawer: null,
					// -----
					// 上方班級選擇開始
					chooseclass: ['班級A', '班級B', '班級C', '班級D'],
					classchoice: '',
					// 變數開始
					// 管理分頁變數開始
					page: 1,
					pageCount: 0,
					itemsPerPage: 5,
					// 管理分頁變數結束
					// 彈跳視窗開始
					dialog: false,
					// datepicker
					menu2: false,
					// 彈跳視窗結束					
					// 
					資料容器: [],
					// json資料結束
					// 判斷是否是修改頁面 會自動改標題開始
					editedIndex: -1,
					// 判斷是否是修改頁面 會自動改標題結束

					editedItem: {
						id:'',
						專案名稱: '',
						小組名稱: '',
						時程期限: '',
					},
					defaultItem: {
						id:'',
						專案名稱: '',
						小組名稱: '',
						時程期限: '',
					},
					// 變數結束
					headers: [{
							text: '專案名稱',
							align: 'start',
							value: '專案名稱',
						},
						{
							text: '小組名稱',
							value: '小組名稱'
						},
						{
							text: '時程期限',
							value: '時程期限'
						},
						{
							text: '',
							value: '修改',
							sortable: false
						},
						{
							text: '',
							value: '刪除',
							sortable: false
						},
					],

				}),
				computed: {
					formTitle() {
						// computed計算後傳出的值可以直接當data 用鬍子語法被DOM拿到
						// 抓到的index 若是-1則將標題改為New Item ; 非-1(正常indexof取到大於等於0)時為 Edit Item
						return this.editedIndex === -1 ? '新增' : '修改'
					},
				},

				watch: {
					dialog(val) {
						val || this.close()
					},
				},

				created() {
					this.頁面載入()
				},

				methods: {
					// 監聽select值若發生變化
					changeRoute() {
						axios.post('API/GetCrudHandler.ashx', {
								innertype: '這一頁',
								classchoice: vm.classchoice
							})
							.then(response => this.資料容器 = response.data)
							.catch(error => alert(error))
					},
					// 
					editItem(item) {
						// FOR循環找到item(此for循環物件)的index
						this.editedIndex = this.資料容器.indexOf(item)
						// 抓到此item後 
						// Object.assign() 方法用于将所有可枚举属性的值从一个或多个源对象source复制到目标对象。它将返回目标对象target。
						// 例子
						// const v1 = 'abc' const v2 = true const v3 = 10 
						// const obj = Object.assign({}, v1, v2, v3)
						// obj // { "0": "a", "1": "b", "2": "c" }

						this.editedItem = Object.assign({}, item)
						this.dialog = true
					},

					deleteItem(item) {
						// 宣告此index數字為此筆  之後可能會有若中間資料庫有人增刪的bug
						const index = this.資料容器.indexOf(item)
						if
						(confirm('確定要刪除此資料嗎?')){
							axios.delete('',  {
								item
							}).then(response => {
								alert(item.id + '發送刪除成功');
								this.資料容器 = response.data
								// this.資料容器.splice(index, 1);
							}) 
							.catch(error => alert('id:' + item.id + '發送刪除失敗'))
						} else{
							
						}
						
							
					},

					close() {
						this.dialog = false
						this.$nextTick(() => {
							// 把彈跳視窗輸入框清空成defaultItem
							this.editedItem = Object.assign({}, this.defaultItem)
							// 恢復成新增模式
							this.editedIndex = -1
						})
					},

					save() {
						// 若是為編輯狀態 editedIndex會有該項的indexof 
						if (this.editedIndex > -1) {
							// 把資料灌回DOM
							// Object.assign(this.資料容器[this.editedIndex], this.editedItem);
							axios.post('', {
									innertype: '這一頁',
									classchoice: this.editedItem
								})
								.then(response => this.資料容器 = response.data,this.close())
								.catch(error => alert(error),this.close())
							// alert(this.editedItem)
						}
						// 若是為新增狀態 預設editedIndex -1 不處理 直接推新的editedIndex和editedItem
						else {
							// this.資料容器.push(this.editedItem)
						}
						this.close()
					},
					// 初始化資料
					頁面載入() {
						// axios.get(url)
						//   .then(res => {
						//     console.log(res);
						//     // 將獲取回來的資料賦值給list
						//     this.資料容器 = res.data
						//   })
						//   .catch(err => {
						//     alert('獲取失敗');
						//   });

						this.資料容器 = [{
								id: 1,
								專案名稱: 'BBBBBBBBBBBBBB',
								小組名稱: 'kkkkkkkkkkkk',
								時程期限: '2013-07-29',
							},
							{
								id: 2,
								專案名稱: 'johnnnnnnnnnny',
								小組名稱: 'あいうえお',
								時程期限: '2013-07-29',
							},
							{
									id: 3,
									專案名稱: 'BBBBBBBBBBBBBB',
									小組名稱: 'kkkkkkkkkkkk',
									時程期限: '2013-07-29',
								},
								{
									id: 4,
									專案名稱: 'johnnnnnnnnnny',
									小組名稱: 'あいうえお',
									時程期限: '2013-07-29',
								},
								{
										id: 5,
										專案名稱: 'BBBBBBBBBBBBBB',
										小組名稱: 'kkkkkkkkkkkk',
										時程期限: '2013-07-29',
									},
									{
										id: 6,
										專案名稱: 'johnnnnnnnnnny',
										小組名稱: 'あいうえお',
										時程期限: '2013-07-29',
									},
									{
											id: 7,
											專案名稱: 'BBBBBBBBBBBBBB',
											小組名稱: 'kkkkkkkkkkkk',
											時程期限: '2013-07-29',
										},
										{
												id: 8,
												專案名稱: 'BBBBBBBBBBBBBB',
												小組名稱: 'kkkkkkkkkkkk',
												時程期限: '2013-07-29',
											},
											{
													id: 9,
													專案名稱: 'BBBBBBBBBBBBBB',
													小組名稱: 'kkkkkkkkkkkk',
													時程期限: '2013-07-29',
												},
												{
														id: 10,
														專案名稱: 'BBBBBBBBBBBBBB',
														小組名稱: 'kkkkkkkkkkkk',
														時程期限: '2013-07-29',
													},
													{
															id: 11,
															專案名稱: 'BBBBBBBBBBBBBB',
															小組名稱: 'kkkkkkkkkkkk',
															時程期限: '2013-07-29',
														},
														{
																id: 12,
																專案名稱: 'BBBBBBBBBBBBBB',
																小組名稱: 'kkkkkkkkkkkk',
																時程期限: '2013-07-29',
															},
						]
					},

				},

			})
		</script>

		<style type="text/css">
			#keep .v-navigation-drawer__border {
				display: none
			}

			.ubay {
				font-family: 'Lemonada', cursive;
				font-weight: 900;
				font-size: 3.125rem;
				padding-left: 0.9375rem;
				margin-left: -0.3125rem;
			}

			.navfont {
				font-family: 'ZCOOL KuaiLe', cursive;
				font-weight: bold;
			}

			.footer-ubay {
				font-family: 'Lemonada', cursive !important;
			}

			.top {
				background: rgba(0, 0, 0, .6) !important;
			}

			.chinese {
				font-family: 'Noto Sans TC', sans-serif;
				padding-right: 2.375rem;
			}


			@media (max-width:600px),
			print {
				.ubay {
					font-size: 2.125rem;
					padding: 0.125rem
				}

				.footer-ubay {
					font-family: 'Anton', sans-serif;
					font-family: 'Shadows Into Light', cursive;
					font-size: 1rem;
				}
			}
		</style>
	</body>
</html>
